img{
    width: 30%;
    margin: calc(10%/6);
   /* margin:1.6666%; */
}
/* 30 + 30 +30 = 90 (10% left) 
How many places do you want to distribute it?
6 Places left and right.
10 divided by 6 = 1.6 recurring
*/
nav{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: calc(9%/6);
    padding: 20px 0;
    font-size: 1.5em;
    padding:1.2em 0;
}